

.article{
    &__section {
        flex-direction: column;
        gap: 90px;
        align-items: center;
        
    }
    &__cards {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        max-width: 1200px;
        width: 100%;
        gap: 50px;
        &-field{
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }
    &__card {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        width: 280px;
        height: 230px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 30px;
	    box-shadow: 0px 9px 18.399999618530273px 0px #00000040;
	    transition: all ease 0.3s;
        cursor: pointer;
        &:hover{
		    box-shadow: 0px 0px 20px 1px #ffbb7616;
            transform: scale(1.05);
        }
    &__page{
        max-width: 500px;
        width: 100%;
    }
    }
    &__further{
        align-self: flex-end;
        cursor: pointer;
    }
}
