@import '../../index.scss';

.article{
    &__section {
        flex-direction: column;
        gap: 90px;
        align-items: center;
        
    }
    &__cards {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        max-width: 1200px;
        width: 100%;
        gap: 50px;
        &-field{
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }
    &__card {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        width: 280px;
        height: 230px;
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;
    }
    &__further{
        align-self: flex-end;
        cursor: pointer;
    }
}
