@import '../../index.scss';

.item{
    &__card{
        display: flex;
        flex-direction: column;
        height: 270px;
        width: 200px;
        padding: 10px 10px;
        gap: 10px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &__content{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        height: inherit;
        }
        }
        
        &__img{
        display: flex;
        height: 170px;
        width: fit-content;
        background: transparent;
    } 
    &__description{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-self: flex-start;
        padding: 0 10px;
        height: 80px;
        justify-content: space-between;
        width: 180px;
    }
    &__text{
        display: -webkit-box;
        text-align: justify;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    &__price{
        display: flex;
        align-self: flex-end;
        border: 1px solid $font-color;
        border-radius: 30px;
        gap: 5px;
        padding: 5px;
        &__text{
        display: flex;
        align-items: center;
        }
    }
}
