@import '../../index.scss';

.item{
    &__card{
        display: flex;
        flex-direction: column;
        height: 270px;
        width: 180px;
        padding: 5px 10px;
        gap: 10px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    &__img{
        display: flex;
        height: 150px;
        width: fit-content;
        background: transparent;
    } 
    &__description{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-self: flex-start;
        padding: 0 10px;
    }
    &__text{
        display: -webkit-box;
        text-align: justify;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}
