@import '../../../index.scss';

.gallery {
    &__carousel {
        display: flex;
        border: 1px solid $card-color;
        border-radius: 15px;
        margin: 0 auto;
        max-width: 1200px;
        &__title {
            display: flex;
            align-items: center;
            cursor: pointer;
            width: 230px;
            height: inherit;
            min-width: 150px;
            padding: 0 15px;
            background-color: $card-color;
            border-radius: 15px;
            &__text{
                display: inline-block;
                transition: 0.3s ease-out;
                background-image: linear-gradient(currentColor, currentColor);
                background-position: 0% 100%;
                background-repeat: no-repeat;
                background-size: 0% 2px;
                transition: background-size .3s;
                color: white;
                &:hover{
                    background-size: 100% 2px;
                }
            }
        }
        &-items {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 850px;
            width: 100%;
            gap: 15px;
            padding: 0 20px;
        }
    }
}
