@import '../../../index.scss';

.gallery {
    &__carousel {
        display: flex;
        border: 1px solid $card-color;
        border-radius: 15px;
        margin: 0 auto;
        max-width: 1200px;
        width: 100%;
        background-color: $main-color;
        &__title {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            max-width: 230px;
            width: 100%;
            height: inherit;
            min-width: 150px;
            padding: 0 15px;
            border-radius: 15px;
	        transition: all ease 0.3s;
        background-color: $card-color;

            &:hover {
                box-shadow:inset 0px 0px 20px 1px #ffbb7616;
              }
            &__text{
                display: inline-block;
                transition: 0.3s ease-out;
                background-image: linear-gradient(currentColor, currentColor);
                background-position: 0% 100%;
                background-repeat: no-repeat;
                background-size: 0% 2px;
                transition: background-size .3s;
                color: white;
                &:hover{
                    background-size: 100% 2px;
                }
            }
        }
        &-items {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 800px;
            width: 100%;
            gap: 15px;
        }
    }
}

@media (max-width: 800px) {
    .gallery__title{
        display: none;
    }
    }
