.mainpage{
    display: flex;
    flex-direction: column;
    max-height: 1300px;
    background-repeat: no-repeat;
    background-image: url('./img/main.jpg');
    width: 100%;
    background-size: cover;
    margin: 0 auto;
    padding-bottom: 60px;
    &__content{
        display: flex;
        height: 400px;
        align-items: center;
        &__description{
            display: flex;
            flex-direction: column;
            max-width: 600px;
            color: white;
            gap: 20px;
            z-index: 1;
        }
    }
    &__items{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 130px;
        align-items: center;
    }
}

@media (max-width: 880px) {
    .mainpage{
        &__items{
            display: none;
        }
    }
}