.mainpage{
    display: flex;
    flex-direction: column;
    height: 1300px;
    width: auto;
    background-repeat: no-repeat;
    background-image: url('./img/main.jpg');
    background-size: cover;
    &__content{
        display: flex;
        height: 400px;
        align-items: center;
        &__description{
            display: flex;
            flex-direction: column;
            max-width: 600px;
            padding-left: 40px;
            color: white;
            gap: 20px;
        }
    }
    &__items{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 60px;
        align-items: center;
    }
}