.works-list__section{
    flex-direction: column;
    gap: 20px;
    &__cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }
    & &__card{
        display: flex;
        height: 300px;
        width: 250px;
        flex-shrink: 0;
    }
}