.gallery {
    &__btn {
        border-radius: 25px;
        box-shadow: 0px 0px 4px #303030;
        font-family: Arial;
        color: #000000;
        font-size: 23px;
        background: #ffffff;
        padding: 30px 10px 30px 10px;
        text-decoration: none;
        &:hover {
            background: #dbdbdb;
            text-decoration: none;
        }
    }
    &__carousel {
        & &-item {
            display: flex;
            width: 200px;
            flex-shrink: 0;
            height: 100%;
        }
    }
}
