@import '../../../../index.scss';

.gallery {
    &__btn {
        display:flex;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: transparent;
        border: 1px solid $font-color;
        height: 60px;
        border-radius: 15px;
        cursor: pointer;
        &:hover {
            background:#ffbb763c;
        }
    }
}
