.header{
    position: fixed;
    width: 100%;
    z-index: 2;
    display: flex;
    background-color: #FFFFFF0D;
    height: 45px;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
    &__img{
        
    }
    &__name{
        font-size: 20px;
        color: rgb(150, 150, 150);
        font-size: 15px;
    }
}
.main-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    
    
    &__home{
        cursor: pointer;
        font-size: 20px;
        color: rgb(150, 150, 150);
        background-color: transparent;
        font-size: 15px;
    }
    &__plantstype{
        cursor: pointer;
        font-size: 20px;
        color: rgb(150, 150, 150);
        background-color: transparent;
        font-size: 15px;
    }
    &__more{
        cursor: pointer;
        font-size: 20px;
        color: rgb(150, 150, 150);
        background-color: transparent;
        font-size: 15px;
    }
    &__contact{
        color: rgb(150, 150, 150);
        font-size: 20px;
        cursor: pointer;
        background-color: transparent;
        font-size: 15px;
    }
}
.right-menu{
    display: flex;
    align-items: center;
    gap: 20px;
    &__search{
        height: 20px;
    }
    &__cart{
        height: 20px;
    }
    &__burgermenu{
        margin-right: 20px;
        height: 10px;
    }
}