@import '../../index.scss';
.header{
    position: fixed;
    width: 100%;
    z-index: 2;
    display: flex;
    background-color: $card-color;
	backdrop-filter: blur(5px);
    height: 50px;
    justify-content: space-between;
    margin-bottom: 90px;
}
.logo{
    display: flex;
    align-items: center;
    &__img{
        cursor: pointer;
    }
    &__name{
        cursor: pointer;
        font-size: 20px;
        color: rgb(150, 150, 150);
        font-size: 15px;
    }
}
.main-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    color: white;
    &__home{
        cursor: pointer;
        font-size: 20px;
        color: white;
        background-color: transparent;
        font-size: 15px;
    }
    &__plantstype{
        cursor: pointer;
        font-size: 20px;
        color: white;
        background-color: transparent;
        font-size: 15px;
    }
    &__more{
        cursor: pointer;
        font-size: 20px;
        color: white;
        background-color: transparent;
        font-size: 15px;
    }
    &__contact{
        font-size: 20px;
        cursor: pointer;
        color: white;
        background-color: transparent;
        font-size: 15px;
    }
}
.right-menu{
    display: flex;
    align-items: center;
    gap: 20px;
    &__search{
        height: 20px;
    }
    &__cart{
        height: 20px;
        cursor: pointer;
    }
    &__burgermenu{
        margin-right: 20px;
        height: 10px;
    }
}