
.gallery {
        &__section {
        flex-direction: column;
        gap: 90px;
        align-items: center;
        
    }
}
@media (max-width: 450px){
    .gallery__section__title{
        display: none;
    }
}
