

.article-item{
    &__section{
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    &__description{
        display: flex;
        flex-direction: column;
        max-width: 1000px;
        width: 100%;
        padding: 30px;
        gap: 30px;
    }
    &__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    &__text{
        display: flex;
        text-align: justify;
        line-height: 30px;
    }
    &__img{
        width: 100%;
        max-height: 300px;
        height: 100%;
    }
}

@media (max-width: 550px) {
    .article-item{
        &__title{
            font-size: 30px;
        }
        &__text{
            font-size: 15px;
            line-height: normal;
        }
    }
}
