.employee{
    &__section{
        flex-direction: column;
        gap: 90px;
        align-items: center;
    }
    &__cards {
        display: flex;
        align-items: center;
        max-width: 1000px;
        width: 100%;
    }
}
