html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

	$main-color: #1B2316;
	$font-color: #FFFFFFBF;
	$card-color:#FFFFFF0D;

* {
	font-family: "Raleway", sans-serif;
  }

  body {
	background-color: $main-color;
	color: $font-color;
  }
  a {
	text-decoration: none;
  }
  .h1 {
	font-size: 72px;
	font-style: bold;
	font-weight: 400;
	line-height: 72px;
  }
  
  .h2 {
	font-size: 56px;
	font-style: normal;
	font-weight: 100;
  }
  
  .h3 {
	font-size: 40px;
	font-style: normal;
	font-weight: 100;
  }
  
  .h4 {
	font-size: 28px;
	font-style: bold;
	font-weight: 400;
  }
  
  .h5 {
	font-size: 22px;
	font-weight: 200;
  }
  
  .h6 {
	font-size: 18px;
	font-weight: 100;
  }
  .h7 {
	font-size: 15px;
	font-weight: 100;
  }
  .card{ 
	  border-radius: 30px;
	  border: 1px solid $card-color;
	  box-shadow: 0px 9px 18.399999618530273px 0px #00000040;
	  background: $card-color;
	  backdrop-filter: blur(5px);
	  transition: all ease 0.3s;
	  &:hover {
		  box-shadow: 0px 0px 20px 1px #ffbb7616;
		}
  }
  .section{
	display: flex;
	padding: 20px;
	& &__breadcrumb{
		align-self: flex-start;
		color: white;
		&__last{
			color: $font-color;
		}
		&__current{
			color: white;
		}
	}
  }
.title{
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 10px 20px;
		color: white;
		border-left: 3px solid $card-color;
		border-right: 3px solid $card-color;
		border-top-left-radius: 40px;
		border-bottom-right-radius: 40px;
}